* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F0F6F7FF;
}

.level1 {
  padding: 16px;
  height: 100%;
  background-color: #669DB3FF;
  text-align: center;
  justify-content: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 2px 2px 5px grey;
  margin-right: 16px;
}

.fa-fb,
.fa-gh,
.fa-mm,
.fa-em,
.fa-ln {
  transition: 0.3s;
}

.fa-fb:hover,
.fa-gh:hover,
.fa-mm:hover,
.fa-em:hover,
.fa-ln:hover {
  text-shadow: 3px 6px rgb(0, 0, 0);
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.level2 {
  width: 25%;
  height: 100%;
  background-color: #F0F6F7FF;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level2 .p {
  justify-self: center;
}

.level3 {
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #A89C94FF;
  font-size: 1.5vw;
  color: #FFF;
}

.level4 {
  width: 50%;
  height: 100%;
  background-color: rgba(247, 118, 124, 0.959);
  text-align: center;
  color: white;
  align-items: center;
}

.objects {
  height: 20%;
  align-items: center;
}

.level3 .objects {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.level3 .objects:hover {
  background-color: rgb(145, 131, 122);
  cursor: pointer;
}

.level3 .objects.selected {
  background-color: rgba(247, 118, 124, 0.959);
}